/* --------------------------------------------------------------
# Color & Themes
--------------------------------------------------------------*/
:root {
  --primary: #6610f2;
  --secondary: #6f42c1;
  --accent: #20c997;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 16px;
}

::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background: var(--accent);
}

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
.btn {
  display: inline-block;
  position: relative;
  border-radius: 40px;
  border: 1px solid rgba(32, 201, 151, 0.815);
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: var(--accent);
  overflow: hidden;
  -webkit-box-shadow: 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 0 30px 5px rgba(32, 201, 151, 0.815);
  box-shadow: 0 0 30px 5px rgba(32, 201, 151, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.btn:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

@-webkit-keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.btn::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: transparent;
  -webkit-box-shadow: 0 0 50px 30px rgba(32, 201, 151);
  box-shadow: 0 0 50px 30px rgba(32, 201, 151);
  -webkit-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

.btn.active {
  -webkit-box-shadow: 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in;
  transition: -webkit-box-shadow 0.2s ease-in;
  -o-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in, -webkit-box-shadow 0.2s ease-in;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #252525;
}

a {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  color: var(--accent);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--accent);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #3284f1;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    -webkit-transition-delay: 0 !important;
    -o-transition-delay: 0 !important;
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
**/
#header {
  background: -o-linear-gradient(left, rgba(102, 16, 242, 0.98), rgba(111, 66, 193, 0.98));
  background: -webkit-gradient(linear, left top, right top, from(rgba(102, 16, 242, 0.98)), to(rgba(111, 66, 193, 0.98)));
  background: linear-gradient(to right, rgba(102, 16, 242, 0.98), rgba(111, 66, 193, 0.98));
}

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar>ul>li {
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.navbar a,
.navbar a:focus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 3px;
  font-size: 15px;
  font-weight: 600;
  color: #222222;
  white-space: nowrap;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: var(--accent);
  visibility: hidden;
  width: 0px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: var(--accent);
}

#header .cv-btn {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: var(--accent);
  background-size: 400%;
  border: none;
}

#header .cv-btn:hover::before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

#header .cv-btn .button-content {
  position: relative;
  text-decoration: none;
  color: #000;
  z-index: 1;
}

#header .cv-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: -o-linear-gradient(7.7deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%);
  background: linear-gradient(82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%);
  -webkit-transition: all 0.475s;
  -o-transition: all 0.475s;
  transition: all 0.475s;
}



@media screen and (max-width: 575.98px) {
  #header .cv-btn {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  #header .cv-btn {
    display: none;
  }
}

@media screen and (min-width: 1400px) {
  #header {
    background: -o-linear-gradient(left, rgba(102, 16, 242, 0.6), rgba(111, 66, 193, 0.6));
    background: -webkit-gradient(linear, left top, right top, from(rgba(102, 16, 242, 0.6)), to(rgba(111, 66, 193, 0.6)));
    background: linear-gradient(to right, rgba(102, 16, 242, 0.6), rgba(111, 66, 193, 0.6));
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    width: 96%;
    top: 10px;
    margin-left: 30px;
    border-radius: 50px;
  }
}

@media screen and (min-width: 1600px) {
  #header {
    background: -o-linear-gradient(left, rgba(102, 16, 242, 0.6), rgba(111, 66, 193, 0.6));
    background: -webkit-gradient(linear, left top, right top, from(rgba(102, 16, 242, 0.6)), to(rgba(111, 66, 193, 0.6)));
    background: linear-gradient(to right, rgba(102, 16, 242, 0.6), rgba(111, 66, 193, 0.6));
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    width: 96%;
    top: 10px;
    margin-left: 30px;
    border-radius: 50px;
  }
}

@media screen and (min-width: 1900px) {
  #header {
    background: -o-linear-gradient(left, rgba(102, 16, 242, 0.6), rgba(111, 66, 193, 0.6));
    background: -webkit-gradient(linear, left top, right top, from(rgba(102, 16, 242, 0.6)), to(rgba(111, 66, 193, 0.6)));
    background: linear-gradient(to right, rgba(102, 16, 242, 0.6), rgba(111, 66, 193, 0.6));
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    width: 96%;
    top: 10px;
    margin-left: 30px;
    border-radius: 50px;
  }
}


/**
* Mobile Navigation
**/
.mobile-nav-toggle {
  color: #222222;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media screen and (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(9, 9, 9, 0.9);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #222222;
}

.navbar-mobile>ul>li {
  padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: var(--accent);
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f6f9fe;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0;
  background: #e7f1fd;
  color: var(--accent);
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}

.section-title h3 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
}

.section-title h3 span {
  color: var(--accent);
}

.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 600;
}

@media screen and (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  background: -o-linear-gradient(left, rgba(102, 16, 242, 0.98), rgba(111, 66, 193, 0.98));
  background: -webkit-gradient(linear, left top, right top, from(rgba(102, 16, 242, 0.98)), to(rgba(111, 66, 193, 0.98)));
  background: linear-gradient(to right, rgba(102, 16, 242, 0.98), rgba(111, 66, 193, 0.98));
  padding: 10rem 0 0 0;
  width: 100%;
  height: 100vh;
}

.hero .intro-text>h1 {
  background-color: #f1f6fe;
  width: 510px;
  padding: 10px 20px 10px 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
}

.hero .intro-text>h1::before {
  border-color: transparent transparent #f1f6fe transparent;
  content: "";
  position: absolute;
  top: -3px;
  left: 6px;
  -webkit-transform: translateX(-50%) rotate(46deg);
  -ms-transform: translateX(-50%) rotate(46deg);
  transform: translateX(-50%) rotate(46deg);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 25px 25px;
  z-index: -1;
}

.hero .intro-text .intro {
  font-size: 4rem;
  font-weight: 700;
}

.hero .intro-text .profession {
  font-size: 2rem;
}

.hero .intro-text .profession .animate-text {
  font-size: 2rem;
  font-weight: 600;
  color: var(--accent);
  border-bottom: 3px solid var(--accent);
}

.hero .intro-text .intro-heading {
  display: block;
  font-size: 2rem;
  font-weight: 600;
  color: #242d3b;
}

.hero .intro-text .intro-description {
  display: block;
  font-size: 1rem;
  font-style: italic;
  font-family: 'cascadia code';
  color: #242d3bec;
  margin-bottom: 20px;
}

.hero .social {
  position: relative;
  padding: 10px 20px;
  border: 2px solid var(--accent);
  border-radius: 40px;
  outline: none;
  overflow: hidden;
  cursor: pointer;
}

.hero .social::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hero .social span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 600;
  -webkit-transition-delay: 0.05s;
  -o-transition-delay: 0.05s;
  transition-delay: 0.05s;
  color: var(--accent);
}

.hero .social ul {
  position: absolute;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  top: 45%;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.hero .social ul li a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  vertical-align: middle;
  -webkit-transform: translateY(55px);
  -ms-transform: translateY(55px);
  transform: translateY(55px);
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  color: var(--accent);
}

.hero .social:hover::before {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hero .social:hover span {
  -webkit-transform: translateY(-55px);
  -ms-transform: translateY(-55px);
  transform: translateY(-55px);
}

.hero .social:hover ul li a {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.hero .social:hover ul li:nth-child(1) a {
  -webkit-transition-delay: 0.15s;
  -o-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.hero .social:hover ul li:nth-child(2) a {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.hero .social:hover ul li:nth-child(3) a {
  -webkit-transition-delay: 0.25s;
  -o-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.hero .intro-img img {
  width: 450px;
  height: 450px;
}

.hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@media screen and (max-width: 575.98px) {
  .hero {
    height: 100%;
  }

  .hero .intro-text>h1 {
    width: 480px;
    margin-left: 8px;
  }

  .hero .intro-text .intro {
    font-size: 3.5rem;
  }

  .hero .intro-img img {
    margin-top: 8px;
    margin-bottom: 8px;
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
}

@media screen and (max-width: 767.98px) {
  .hero {
    height: 100%;
  }

  .hero .intro-text>h1 {
    width: 480px;
    margin-left: 8px;
  }

  .hero .intro-text .intro {
    font-size: 3.5rem;
  }

  .hero .intro-img img {
    margin-top: 8px;
    margin-bottom: 8px;
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
}

.hero-waves {
  display: block;
  margin-top: 130px;
  width: 100%;
  height: 60px;
  z-index: 5;
  position: relative;
}

.wave1 use {
  -webkit-animation: move-forever1 10s linear infinite;
  animation: move-forever1 10s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave2 use {
  -webkit-animation: move-forever2 8s linear infinite;
  animation: move-forever2 8s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave3 use {
  -webkit-animation: move-forever3 6s linear infinite;
  animation: move-forever3 6s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

@-webkit-keyframes move-forever1 {
  0% {
    -webkit-transform: translate(85px, 0%);
    transform: translate(85px, 0%);
  }

  100% {
    -webkit-transform: translate(-90px, 0%);
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever1 {
  0% {
    -webkit-transform: translate(85px, 0%);
    transform: translate(85px, 0%);
  }

  100% {
    -webkit-transform: translate(-90px, 0%);
    transform: translate(-90px, 0%);
  }
}

@-webkit-keyframes move-forever2 {
  0% {
    -webkit-transform: translate(-90px, 0%);
    transform: translate(-90px, 0%);
  }

  100% {
    -webkit-transform: translate(85px, 0%);
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever2 {
  0% {
    -webkit-transform: translate(-90px, 0%);
    transform: translate(-90px, 0%);
  }

  100% {
    -webkit-transform: translate(85px, 0%);
    transform: translate(85px, 0%);
  }
}

@-webkit-keyframes move-forever3 {
  0% {
    -webkit-transform: translate(-90px, 0%);
    transform: translate(-90px, 0%);
  }

  100% {
    -webkit-transform: translate(85px, 0%);
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever3 {
  0% {
    -webkit-transform: translate(-90px, 0%);
    transform: translate(-90px, 0%);
  }

  100% {
    -webkit-transform: translate(85px, 0%);
    transform: translate(85px, 0%);
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background-color: #f1f6fe;
  min-height: 40px;
}

.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

@media screen and (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}

.breadcrumbs ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}

@media screen and (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 35px;
}

.about .content ul li:first-child {
  margin-top: 35px;
}

.about .content ul i {
  background: #fff;
  -webkit-box-shadow: 0px 6px 15px rgba(16, 110, 234, 0.12);
  box-shadow: 0px 6px 15px rgba(16, 110, 234, 0.12);
  font-size: 24px;
  padding: 20px;
  margin-right: 15px;
  color: var(--accent);
  border-radius: 50px;
}

.about .content ul h5 {
  font-size: 18px;
  color: #555555;
}

.about .content ul p {
  font-size: 15px;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #222222;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #e2eefd;
  height: 10
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
  background-color: var(--accent);
}

.skills-img {
  margin-top: 30px;
}

.skills-img h4 {
  font-size: 2rem;
  font-weight: 600;
}

.skills-img ul {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
}

.skills-img ul li {
  list-style: none;
  padding: 20px;
  cursor: default;
  background: #e2eefd;
  -webkit-box-shadow: 0 0 10px rgba(86, 85, 85, 0.6);
  box-shadow: 0 0 10px rgba(86, 85, 85, 0.6);
  border-radius: 50px;
}

@media screen and (max-width: 575.98px) {
  .skills-img ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 10px;
  }
}

@media screen and (max-width: 767.98px) {
  .skills-img ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 10px;
  }
}

/*--------------------------------------------------------------
# edu-exp
--------------------------------------------------------------*/
.edu-exp .icon-box {
  text-align: center;
  border: 1px solid #e2eefd;
  padding: 80px 20px;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  background: #fff;
  max-width: 400px;
}

.edu-exp .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: #f1f6fe;
  border-radius: 4px;
  border: 1px solid #deebfd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 20px;
  -webkit-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.edu-exp .icon-box .icon i {
  color: var(--accent);
  font-size: 28px;
  -webkit-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.edu-exp .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.edu-exp .icon-box h4 a {
  color: #222222;
  -webkit-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.edu-exp .icon-box p {
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 0;
}

.edu-exp .icon-box:hover {
  border-color: #fff;
  -webkit-box-shadow: 0px 0 25px 0 rgba(104, 18, 243, 0.1);
  box-shadow: 0px 0 25px 0 rgba(104, 18, 243, 0.1);
}

.edu-exp .icon-box:hover h4 a,
.edu-exp .icon-box:hover .icon i {
  color: var(--accent);
}

.edu-exp .icon-box:hover .icon {
  border-color: var(--accent);
}

@media screen and (max-width: 575.98px) {
  .edu-exp .icon-box-container {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
}

@media screen and (max-width: 767.98px) {
  .edu-exp .icon-box-container {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .projects .card {
  border: 1px solid var(--accent);
  margin: 0 auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.portfolio .projects .card:hover {
  border: 1px solid rgba(104, 18, 243, 0.4);
}

.portfolio .projects .card .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 10px;
}

.portfolio .projects .card .circle {
  padding: 0 4px;
}

.portfolio .projects .card .circle2 {
  display: inline-block;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 5px;
}

.red {
  background-color: #ff605c;
}

.yellow {
  background-color: #ffbd44;
}

.green {
  background-color: #00ca4e;
}

.portfolio .projects .card .header {
  margin: 5px;
  margin-top: 5px;
  border-radius: 5px;
}

#title2 {
  color: #000;
  padding-top: 15px;
  padding-left: 40px;
  font-size: 15px;
}

#hms {
  color: #000;
  padding-top: 15px;
  padding-left: 60px;
  font-size: 15px;
}

.portfolio .projects .card img {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.portfolio .projects .card:hover img {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-box-shadow: 0 0 10px var(--accent);
  box-shadow: 0 0 10px var(--accent);
}

.portfolio .projects .card .card-body {
  cursor: default;
}

.portfolio .projects .card .card-text {
  font-size: 14px;
}

.portfolio .projects .card .button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: var(--accent);
  background-size: 400%;
  border: none;
}

.portfolio .projects .card .button:hover::before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.portfolio .projects .card .button-content {
  position: relative;
  text-decoration: none;
  color: #fff;
  z-index: 1;
}

.portfolio .projects .card .button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: -o-linear-gradient(7.7deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%);
  background: linear-gradient(82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%);
  -webkit-transition: all 0.475s;
  -o-transition: all 0.475s;
  transition: all 0.475s;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--accent);
  border-radius: 8px;
  z-index: 1;
}

.services .icon-box:hover {
  border: 1px solid rgba(104, 18, 243, 0.4);
}

.services .icon-box::before {
  content: "";
  position: absolute;
  background: #cbe0fb;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}

.services .icon-box:hover::before {
  background: var(--accent);
  top: 0;
  border-radius: 0px;
}

.services .icon {
  margin-bottom: 15px;
}

.services .icon i {
  font-size: 48px;
  line-height: 1;
  color: var(--accent);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .title a {
  color: #111;
}

.services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.services .icon-box:hover .title a,
.services .icon-box:hover .description {
  color: #fff;
}

.services .icon-box:hover .icon i {
  color: #fff;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  background: url("../img/codes.jpg") fixed no-repeat;
}

@media screen and (max-width: 575.98px) {
  .contact {
    background: url("../img/codes-phn.jpg") fixed no-repeat;
  }
}

@media screen and (max-width: 767.98px) {
  .contact {
    background: url("../img/codes-phn.jpg") fixed no-repeat;
  }
}

.contact .info-box {
  color: #444444;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(214, 215, 216, 0.8);
  box-shadow: 0 0 10px rgba(214, 215, 216, 0.8);
  padding: 20px 0 30px 0;
}

.contact .info-box i {
  font-size: 32px;
  color: var(--accent);
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #b3d1fa;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .info-box p a {
  color: #777777;
}

.contact .email-form {
  -webkit-box-shadow: 0 0 30px rgba(214, 215, 216, 0.4);
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.4);
  background: rgba(214, 215, 216, 0.8);
  padding: 30px;
}

.sent-message {
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .email-form .form-group {
  margin-bottom: 20px;
}

.contact .email-form input,
.contact .email-form textarea {
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
}

.contact .email-form input:focus,
.contact .email-form textarea:focus {
  border-color: var(--accent);
}

.contact .email-form input {
  padding: 10px 15px;
}

.contact .email-form textarea {
  padding: 12px 15px;
}

.contact .email-form button[type=submit] {
  background: var(--accent);
  border: 0;
  padding: 10px 30px;
  color: #fff;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .email-form button[type=submit]:hover {
  background: var(--accent);
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #fff;
  padding: 0 0 30px 0;
  color: #444444;
  font-size: 14px;
  background: #f1f6fe;
}

#footer .copyright {
  text-align: center;
  float: left;
}

#footer .credits {
  float: right;
  text-align: center;
  font-size: 13px;
  color: #444444;
}

@media screen and (max-width: 768px) {

  #footer .copyright,
  #footer .credits {
    float: none;
    text-align: center;
    padding: 2px 0;
  }
}